:root {
  --google-c-blue:           #4285f4;
  --google-c-red:            #ea4335;
  --google-c-yellow:         #fbbc04;
  --google-c-green:          #34a853;

  --google-c-blue-dark:      #174EA6;
  --google-c-red-dark:       #A50E0E;
  --google-c-yellow-dark:    #E37400;
  --google-c-green-dark:     #0D652D;

  --google-c-blue-lighter:   #D2E3FC;
  --google-c-red-lighter:    #FAD2CF;
  --google-c-yellow-lighter: #FEEFC3;
  --google-c-green-lighter:  #CEEAD6;

  --google-c-grey:           #9AA0A6;
  --google-c-grey-lighter:   #F1F3F4;
  --google-c-black:          #202124;
}